.hero {
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $gradient-angle: 10deg;
  $hero-image: '././../img/hero.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

}

.hero-chem {
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $gradient-angle: 10deg;
  $hero-image: '././../img/chemex.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

}

.hero-fp {
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $gradient-angle: 10deg;
  $hero-image: '././../img/french-press.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

}

.hero-v60 {
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $gradient-angle: 10deg;
  $hero-image: '././../img/v60-home.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

}

.hero, .hero-chem, .hero-fp, .hero-v60 {
  $hero-color: white;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;

  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  height: 500px;
  margin-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 6em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        font-size: 1.9em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 2.7em;
        }
      }

      p {
        color: $hero-color;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.4em;
          max-width: 54%;
        }
      }
    }
  }
}
