.method-page {

  .main-content {
    margin: 15px 20px;
    font-weight: 300;

    @include tablet {
      margin: 25px 75px;
    }

    @include desktop {
      margin: 30px 200px;
    }

    h1{
      font-size: 2rem;
      padding: 10px 0;
    }

    .ingredients {

      margin: 0 0 15px 0;

      li.li-bottom {
        border-bottom: 2px solid black;
        padding: 0 0 5px 0;
        width: 200px;
      }
      li.li-last{
        padding: 5px 0 0 0;
      }

      strong {
        font-weight: bolder;
      }
    }

    .about {
      margin: 0 0 15px 0;

      p {
        line-height: 1.5;
      }

    }

    .brew {

      p {
        padding: 5px 0;
      }

      a {
        text-decoration: none;
        color: #b3a79b;

        &:hover {
          color: desaturate(darken(#b3a79b, 15%), 15%);
        }
      }

      h1 {

        @include desktop {
          text-align: center;
        }
      }

      .step-num {
        border-top: 1.5px solid #aab7bf;
        border-bottom: 1.5px solid #aab7bf;
        text-align: center;
        margin: 15px 0;
        padding: 15px 0;

        h2{
          font-size: 1.2rem;
          font-weight: normal;
        }

        h3{
          font-size: 1.1rem;
          color: #766c6d;
        }

      }
    }

      .timer-button {
        a {
          text-decoration: none;
          background: darken( $light-blue, 10% );
          border-radius: 6px;
          color: white;
          display: block;
          font-size: 0.875em;
          letter-spacing: 1px;
          margin: 25px 0;
          padding: 1em;
          text-align: center;
          text-transform: uppercase;

          &:hover {
            background: darken($light-blue, 5% );
          }
        }
      }

  }

}
