.program {
  margin: 25px;

  .program-content{

    h1 {
      font-size: 3rem;
      font-weight: 300;
      padding: 0 0 20px 0;
      text-align: center;
    }

    .section {
      padding: 0 0 10px 15px;

      @import 'partials/select';

      p {
        font-weight: 300;
        margin: 0 0 10px 0;
      }

    }
    h2 {
      font-size: 2rem;
      padding: 0 0 5px 15px;
      text-align: left;
    }

    h3 {
      font-size: 1.5rem;
      text-align: left;
      margin: 0 0 15px 0;
    }

    .timer-content {
      text-align: center;
      .timer {
        font-size: 3.5rem;
        font-weight: 200;
        margin: 25px 0 15px 0;

      }

      button {
        font-size: 25px;
        border-radius: 5px;
        margin: 0 0 15px 0;
        cursor: pointer;
      }

      .reset-btn {
        margin: 0 0 0 10px;
      }

      h5 {
        font-size: 1.3rem;
        padding: 0 0 5px 0;
      }
    }

  }

}
