.sign-in-page, .sign-up-page {

  h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.6rem;
  }

  .inputs {
    margin: 0 10px 10px;
    padding: 0 0 1px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,.25) 0 1px 4px,rgba(0,0,0,.04) 0 -1px 0;
    border-image: initial;
    font-size: 14px;
    border: none;

    .password {
      border-top: 1px solid #e8e8e8;
    }
  }

    input {
      padding: 10px 15px;
      width: 100%;
      border-radius: 2px;
      -webkit-appearance: none;
      background: 0 0;
      font-size: 14px;
      border: none;
      line-height: 30px;
    }

    .log-btn {
      text-align: center;
      margin: 0 10px 20px;

      button {
        background-color: #ecded2;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfc69f), to(#ecded2));
        border: 1px solid #b3a79b;
        width: 100%;
        max-width: 400px;
        border-radius: 5px;
        color: #333;
        display: inline-block;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        text-shadow: #f0f0f0 0 1px;
        text-decoration: none;
        font-size: 18px;
        padding: 13px 10px 12px;
        cursor: pointer;
      }
    }
}

.sign-up-page {
  .email {
    border-top: 1px solid #e8e8e8;
  }
}
