@import "lib/bourbon/bourbon";
@import "lib/neat/neat";

$light-blue: #aab7bf;
$dark-grey: #766c6d;
$light-tan: #ecded2;
$tan: #dfc69f;
$dark-tan: #b3a79b;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
  font-family: 'Lato', sans-serif;

  @import "partials/nav";
  @import "partials/hero";
  @import "partials/footer";
  @import "partials/program";
  @import "partials/sign-in";
  @import "partials/method-boxes";
  @import "partials/method-page";
}


// p {
//   font-size: 16px;
//
//   @include tablet {
//     font-size: 18px;
//   }
//
//   @include desktop {
//     font-size: 20px;
//   }
// }
